$header-color: #353535;
$body-color: #515151;
$body-color-light: #979797;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$anchor-color: #47b8e0;
$anchor-font-weight: $font-weight-bold;

$font-family-body: 'Lato', sans-serif;
$font-family-header: 'Raleway', sans-serif;

$susy: (
  columns: 12,
  gutters: .25,
  container: 960px
);