.tag {
    display: inline-block;
    background-color: #e5e5e5;
    text-decoration: none;
    padding: 5px 15px;
    font-size: .9em;
    font-weight: $font-weight-normal;
    color: $body-color-light;
    margin-right: 10px;
}
