{% extends 'app.twig' %}

{% block content %}
    {% for article in articles %}
        <div>
            <h4>{{ article.title }} (#{{ article.id }})</h4>
            <div>
                {{ article.body }}
            </div>
        </div>
    {% endfor %}
{% endblock %}
