.container {
  max-width: 760px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;

  &--no-padding {
    padding: 0;
  }

  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    flex-direction: column;
  }
}
